<div class="comments warning">
  {{#each this}}
  <section class="comment warning">
    <div class="meta warning">
     <span> {{user.username}} on {{format_date created_at}}</span>
    </div>
    <div class="text warning">
      {{comment_text}}
    </div>
  </section>
  {{/each}}
</div>